@import "../../../client/components/Layout/Layout";

.main-content {
  padding: 70px 5%;
  text-align: center;

  h1 {
    color: white;
  }

  p {
    color: white;
    max-width: 600px;
    margin: 0 auto 1rem;
  }

  .button {
    margin: 0 auto;
  }
}

.secondary-content {
  padding: 70px 5%;
  background-color: white;
  text-align: center;

  > div {
    display: flex;
    flex-wrap: wrap;
    max-width: 846px;
    margin: 0 auto;

    > div:nth-child(1) {
      h2 {
        color: #304FFE;
      }

      p {
        color: dimgray;
      }
    }

    > div:nth-child(2) {
      .shapes {
        width: 100%;
        height: auto;
        display: block;
        margin-top: 20px;
      }
    }
  }
}

@media (min-width:380px) {
  .main-content {
    padding: 50px 5% 140px;
  }

  .secondary-content {
    padding: 80px 5%;
    text-align: left;

    > div {
      flex-wrap: nowrap;
      margin: 0 auto;

      > div:nth-child(1) {
        flex: 2;
        padding-right: 90px;
      }

      > div:nth-child(2) {
        flex: 1;

        .shapes {
          width: 100%;
          height: auto;
          display: block;
          margin-top: 20px;
        }
      }
    }
  }
}
