.bank-item {
  background-color: white;
  padding: 10px;
  height: 90px;
  width: 46%;
  justify-content: center;
  align-items: center;
  margin: 5px;
  display: flex;
  filter: grayscale(100%);

  &.selected {
    filter: grayscale(0%);
  }

  > img {
    width: 100%;
    justify-content: center;
  }
}