.transaction {
  background-color: white;
  border: 1px solid #EEEEEE;
  padding: 10px 15px;
  font-size: .875rem;
  text-transform: uppercase;
  color: #333;
  display: flex;
  justify-content: space-between;
}